/* KyoboHand 폰트 불러오기 */
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff");

/* 옵시디언태그 > */
.md-main .md-content p > strong {
    color: var(--md-typeset-a-color);
}

/* 옵시디언태그 ** */
.md-main .md-content blockquote > p {
    color: var(--md-warning-bg-color);
}

/* 옵시디언태그 * */
.md-main .md-content p > em {
    color: var(--md-code-hl-string-color);
}

/* 페이지 전체에 적용할 폰트 설정 */
body {
    font-family: 'KyoboHand', sans-serif;
}

/* 코드 블록에 적용할 폰트 설정 */
code {
    font-family: 'Courier New', monospace;
}

.first-hidden-text {
    visibility: hidden;
  }
  
.first-hidden-text::after {
    content: attr(data-title); /* 숫자와 점을 제외한 내용을 커스터마이징 */
    visibility: visible; /* 새롭게 표시할 텍스트만 표시 */
}

.admonition {
    margin: 1.5625em 0;
    padding: 0 .6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: .2rem solid #448aff;
    border-radius: .1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
}

.admonition p {
    margin: .8em 0;
}

.admonition-title {
    margin: 0 -0.6rem;
    padding: .4rem .6rem .4rem 2.5rem;
    font-weight: 700;
    background-color: rgba(68,138,255,.1);
    position: relative;
}

.admonition-title::before {
    content: '';
    position: absolute;
    left: .6rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #448aff;
    mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2z"/></svg>');
    mask-repeat: no-repeat;
    mask-size: contain;
}